{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Catalogue{% endblock %}

{% block body %}
    <section>
        {% if page > 1 %}
            <a href="{{ path('app_serie_liste', {page : page - 1}) }}">Page précédente</a>&nbsp;
        {% endif %}
        {% if page < nb_pages_max %}
            <a href="{{ path('app_serie_liste', {page : page + 1}) }}">Page suivante</a>
        {% endif %}
    </section>

    <section class="series-list">
        {% for serie in series %}
            <a href="{{ path('app_serie_detail', {id: serie.id}) }}">
                <img src="{{ asset(poster_path ~ '/' ~ serie.poster) }}" width="250px"
                     alt="{{ 'Poster de ' ~ serie.name }}" loading="lazy">
                {% for season in serie.seasons %}
                    {{ season.number }} |
                {% endfor %}
            </a>
        {% else %}
            <p>Pas de série</p>
        {% endfor %}
    </section>

{% endblock %}
