{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Catalogue{% endblock %}

{% block body %}
    <h2>Catalogue</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Overview</th>
            <th>Status</th>
            <th>Genres</th>
            <th>1st air date</th>
            <th>last air date</th>
        </tr>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.name }}</td>
                <td>{{ serie.overview }}</td>
                <td>{{ serie.status }}</td>
                <td>{{ serie.genres }}</td>
                <td>{{ serie.firstAirDate|date('d/m/Y') }}</td>
                <td>{{ serie.lastAirDate|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
