<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nixflet{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1><img src="{{ asset('images/logo.png') }}" alt="Logo Nixflet">Nixflet</h1>

            {% for status, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ status }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_serie_liste') }}">Catalogue</a></li>
                    <li><a href="{{ path('app_serie_create') }}">Nouvelle série</a></li>
                    <li><a href="{{ path('app_season_create') }}">Nouvelle saison</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>

        </footer>

        <script>

        </script>
    </body>
</html>
